*,
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  margin: auto;
  text-align: center;
}

h2 {
  text-align: left;
}

.Counter {
  margin-bottom: 100px;
}

.Post__Item {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border: solid 1px black;
  border-radius: 15px;
  margin-bottom: 15px;
}

.Post__Item__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Post__Item__Buttons {
  display: flex;
  flex-direction: column;
}

/* FORM STYLES */

.MyInput {
  width: 100%;
  padding: 8px 15px;
  margin: 5px 0;
  border: solid 1px teal;
  border-radius: 5px;
}
